<p style="color: green"><%= notice %></p>

<h1>Speakers</h1>

<div id="speakers">
  <% @speakers.each do |speaker| %>
    <%= render speaker %>
    <p>
      <%= link_to "Show this speaker", speaker %>
    </p>
  <% end %>
</div>

<%= link_to "New speaker", new_speaker_path %>
